.berryDetail{
    border:3px solid green;
    border-radius: 20px;
    position: relative;
    background-color: #051821;
    max-width: 550px;
    margin:auto;
    text-align: center;
}

.pageLink{
    color:yellow;
    font-size: 1rem;
}

.pageLink:hover{
    border: none;
    color:white;
}

.berryTitle{
    position:absolute;
    top:0;
    left:50%;
    transform: translate(-50%);
    margin:0;
    color:white;
    width: 50%;
    text-align: center;
    background-color: green;
    border-radius:20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.berryChara{
    margin-top: 4rem;
}

.berryCharaCategory{
    display:flex;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;
    width: 90%;
    margin:0 auto;
}

.berryCharaCategory div p:first-of-type{
    color:white;
    font-weight: bold;
    font-size: 1.2rem;
}

.berryCharaCategory div p:last-of-type{
    color:green;
    font-weight: bold;
    margin:0;
}
.flavour{
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color:white;
}

.flavour p:last-of-type{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
    width:80%;
    margin:1rem auto;
}

.backLink{
    color:white;
}

.backLink:hover{
    color:green;
}

@media(max-width:35rem){
    .berryTitle{
        font-size: 1rem;
    }
}