.common{
    border:2px solid white;
    background-color: white;
}

.legendary{
    border:2px solid purple;
    background-color: purple;
}

.mythical{
    border: 2px solid gold;
    background-color: gold;
}

.extraDetailContainer{
    border-radius: 20px;
    margin:0 auto;
    margin-top: 5rem;
    position: relative;
    background-color: rgb(5, 24, 33);
    max-width: 40rem;
    min-width: 17.5rem;
}

.pokemonTitle{
    color:yellow;
}

.rarityTitle{
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rarityTitle p{
    margin:0.1rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.extraDetails{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
    border-radius: 20px;
}

.characteristics{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color:white;
}

.baseCharacteristics{
    display:flex;
    gap:1rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:1rem;
    width:95%;
    margin:1rem 0;
    text-align: center;
}

.baseCharacteristics div p:first-of-type{
    color:white;
    font-weight: bold;
    font-size: 1.25rem;
    margin:0;
}

.baseCharacteristics div p:last-of-type{
    font-size: 0.8rem;
    font-weight: bold;
    color: darkgreen;
}

.pageLink:hover{
    border: none;
}

.linkToEvolve{
    color:green;
}

.linkToEvolve:hover{
    border: none;
}

@media(max-width: 35rem){
    .characteristics{
        flex-direction: column;
    }

    .baseCharacteristics{
        flex-direction: column;
    }
}