.pokeList{
    display:grid;
    grid: auto-flow 25rem / repeat(auto-fill, minmax(15rem, 20rem));
    gap: 1rem;
    margin:1rem auto;
    padding:1rem;
    list-style: none;
    justify-content: center;
    max-width: 1237px;
}

.sortElements{
    margin:1rem;
    text-align: center;
}

.sortElements select{
    background-color: darkcyan;
    color:black;
    border:none;
    outline: none;
    font-weight: bold;
    height:2rem;
    width:10rem;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}